# Generic
*.log
.DS_Store
.env*
*.swp
*.bak

# Android
.gradle/
build/
local.properties
*.iml
.idea/
.cxx/
*.apk
*.aar
# Keep local AARs if necessary for demo
!android/app/libs/zenith.aar
google-services.json
*.jks
*.keystore

# iOS
build/
DerivedData/
*.xcresult
*.xcuserstate
userdata/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
Pods/
.xcworkspace/
# Xcode layout file
*.xccheckout
# Firebase
GoogleService-Info.plist
# Profiles & Certificates
*.mobileprovision
*.provisionprofile
*.cert
*.p12
# Frameworks (if they are pods or build products)
# Note: Keep local frameworks if they are required for build.
!ios/zenith demo/zenith demo/Frameworks/Zenith.xcframework/
